.edit-week-dishes-modal {
  .dishes-list-wrapper {
    .edit-item {
      margin-bottom: 16px;
      .edit-item-name {
        display: flex;
        align-items: center;
      }
      .edit-item-desc {
        margin: 10px 0;
      }
    }
  }
}
